In [1]:
import pandas as pd
import glob

In [2]:
a=["CordAscent","LambdaMART","LambdaRank","LinearReg","ListNet","MART","RandomFor","RankBoost","RankNet"]
b=[
"./chart1_data.csv",
"./chart2_data.csv",
"./chart3_data.csv",
"./chart4_data.csv",
"./chart5_data.csv",
"./chart6_data.csv",
"./chart7_data.csv",
"./chart8_data.csv",
"./chart9_data.csv",
]

In [3]:
temp=[]
for i in range(9):   
    try:
        df=pd.read_csv(b[i],index_col=0)
        df['model']=a[i]
        temp.append(df)
    except:
        print(i)

4

In [4]:
merged=pd.concat(temp);

# Remove extra columns

In [5]:
import pandas as pd
import glob

In [6]:
for j in merged.columns:
    if "feature_rank" not in j and "1-qid" not in j and "model" not in j:
        merged.drop(j,axis=1,inplace=True)

In [7]:
merged

,1-qid,country_feature_rank,female_percent_feature_rank,income_feature_rank,international_feature_rank,international_students_feature_rank,num_students_feature_rank,research_feature_rank,student_staff_ratio_feature_rank,teaching_feature_rank,model
0,2011,3,7,1,2,10,9,5,4,8,CordAscent
1,2011,7,8,1,2,10,3,9,4,5,CordAscent
2,2011,4,7,8,1,9,3,10,2,5,CordAscent
3,2011,4,8,7,2,10,5,6,9,1,CordAscent
4,2011,2,5,7,4,8,10,9,1,6,CordAscent
...,...,...,...,...,...,...,...,...,...,...,...
2598,2016,1,9,6,3,10,7,4,8,2,RankNet
2599,2016,1,9,6,3,10,7,4,8,2,RankNet
2600,2016,1,9,6,3,10,7,4,8,2,RankNet
2601,2016,4,10,6,7,1,2,3,8,5,RankNet
2602,2016,7,10,6,8,4,9,5,2,3,RankNet

In [8]:
df.columns

Index(['1-qid', 'two_realRank', 'two_realRank2', 'State', 'RankNet', 'country',
       'teaching', 'international', 'research', 'citations', 'income',
       'total_score', 'num_students', 'student_staff_ratio', 'year',
       'female_percent', 'international_students', 'world_rank',
       'country_encoded', 'country_contribution',
       'female_percent_contribution', 'income_contribution',
       'international_contribution', 'international_students_contribution',
       'num_students_contribution', 'research_contribution',
       'student_staff_ratio_contribution', 'teaching_contribution',
       'country_feature_rank', 'female_percent_feature_rank',
       'income_feature_rank', 'international_feature_rank',
       'international_students_feature_rank', 'num_students_feature_rank',
       'research_feature_rank', 'student_staff_ratio_feature_rank',
       'teaching_feature_rank', 'model'],
      dtype='object')

In [9]:
merged.to_csv('rank_school.csv',index=False)