In [15]:
import pandas as pd
import glob

In [16]:
a=["CordAscent","LambdaMART","LambdaRank","LinearReg","ListNet","MART","RandomFor","RankBoost","RankNet"]
b=[
"./chart1_data.csv",
"./chart2_data.csv",
"./chart3_data.csv",
"./chart4_data.csv",
"./chart5_data.csv",
"./chart6_data.csv",
"./chart7_data.csv",
"./chart8_data.csv",
"./chart9_data.csv",
]

In [17]:
temp=[]
for i in range(9):   
    try:
        df=pd.read_csv(b[i],index_col=0)
        df['model']=a[i]
        temp.append(df)
    except:
        print(i)

4

In [18]:
merged=pd.concat(temp);

# Remove extra columns

In [19]:
for j in merged.columns:
    if "feature_rank" in j:
        merged.drop(j,axis=1,inplace=True)

In [20]:
for j in merged.columns:
    if j in a:
        merged.drop(j,axis=1,inplace=True)

In [22]:
merged.columns

Index(['1-qid', 'two_realRank', 'two_realRank2', 'State', 'country',
       'teaching', 'international', 'research', 'citations', 'income',
       'total_score', 'num_students', 'student_staff_ratio', 'year',
       'female_percent', 'international_students', 'world_rank',
       'country_encoded', 'country_contribution',
       'female_percent_contribution', 'income_contribution',
       'international_contribution', 'international_students_contribution',
       'num_students_contribution', 'research_contribution',
       'student_staff_ratio_contribution', 'teaching_contribution', 'model'],
      dtype='object')

In [23]:
merged

,1-qid,two_realRank,two_realRank2,State,country,teaching,international,research,citations,income,...,country_contribution,female_percent_contribution,income_contribution,international_contribution,international_students_contribution,num_students_contribution,research_contribution,student_staff_ratio_contribution,teaching_contribution,model
0,2011,167,167.0,Aarhus University,Denmark,38.1,33.40000,55.6,57.3,61.500000,...,-9.881952e-03,-1.787930e-03,9.802727e-02,-3.337767e-02,9.770000e-05,-7.843040e-04,5.796869e-03,-8.390714e-03,1.685774e-03,CordAscent
1,2011,147,147.0,Alexandria University,Egypt,29.5,19.30000,28.0,99.8,36.000000,...,-1.168830e-02,3.005306e-03,-3.631233e-02,-3.503427e-02,2.059000e-04,3.068510e-02,-7.071080e-04,3.042261e-02,-1.917207e-02,CordAscent
2,2011,162,161.0,Arizona State University,USA,43.0,24.10000,44.1,66.9,48.979874,...,8.548674e-03,-2.055621e-03,-1.794490e-03,-3.669966e-02,-1.327311e-03,2.592924e-02,-1.259815e-03,3.020513e-02,4.992283e-03,CordAscent
3,2011,43,43.0,Australian National University,Australia,51.9,93.90000,62.4,81.0,48.979874,...,-1.143998e-02,-1.277368e-03,-1.473124e-03,3.443445e-02,-4.359400e-04,-8.452168e-03,2.113072e-03,-5.843140e-04,5.346403e-02,CordAscent
4,2011,173,173.0,Bielefeld University,Germany,39.9,52.00744,35.7,70.4,48.979874,...,-1.265115e-02,-5.204995e-03,-1.095062e-03,5.219914e-03,8.298830e-04,4.493270e-04,-7.500310e-04,3.422070e-02,2.127015e-03,CordAscent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2598,2016,48,54.0,École Normale Supérieure,France,70.6,85.50000,47.7,87.1,37.100000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,RankNet
2599,2016,150,201.0,École Normale Supérieure de Lyon,France,41.6,65.60000,30.0,69.0,31.700000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,RankNet
2600,2016,739,NaN,École Polytechnique,France,53.5,92.80000,44.6,64.7,82.300000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,RankNet
2601,2016,31,31.0,École Polytechnique Fédérale de Lausanne,Switzerland,61.3,98.60000,67.5,94.6,65.400000,...,-5.800000e-32,8.200000e-33,-4.100000e-32,4.000000e-32,2.000000e-31,1.300000e-31,-6.100000e-32,3.000000e-32,-4.800000e-32,RankNet
2602,2016,219,301.0,Örebro University,Sweden,18.3,39.40000,10.4,87.8,29.800000,...,1.100000e-32,9.900000e-34,-1.400000e-32,9.200000e-33,1.500000e-32,-2.500000e-33,-1.400000e-32,-2.700000e-32,1.900000e-32,RankNet

In [24]:
merged.to_csv('lime_school.csv',index=False)